<div id="1demo" class="collapse1">
<label for="fullname">Pre Order Delivery Time :</label>
<div class="col-md-12 col-sm-1 col-xs-12">
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a  id="home-tab" role="tab"  aria-expanded="true" <% unless Date.today.to_time.strftime("%A") == "Tuesday"%> href="#tab_content1" data-toggle="tab">  AAJ<%else%> >Closed<%end%>  </a>
      </li>
      <li role="presentation" ><a class="disabled" role="tab" id="profile-tab"  aria-expanded="false" <% unless Date.tomorrow.to_time.strftime("%A") == "Tuesday"%> href="#tab_content2" data-toggle="tab">  KAL<%else%> >Closed<%end%></a>
      </li>
      <li role="presentation" class=""><a  role="tab" id="profile-tab2"  aria-expanded="false" <% unless Date.tomorrow.tomorrow.to_time.strftime("%A") == "Tuesday"%> href="#tab_content3" data-toggle="tab">PARSO<%else%> >Closed<%end%></a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">10-11 AM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/10AM-11AM"%> <%="disabled" if current_hour > "08" %> />
            <div class="control__indicator" <% if current_hour > "08" %>
            style="background: #c9302c;" 
            <%end%> ></div>
          </label>
          <label class="control control--radio">1-2 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/01PM-02PM"%> <%="disabled" if current_hour > "11" %>/>
            <div class="control__indicator" <% if current_hour > "11" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">4-5 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/04PM-05PM"%> <%="disabled" if current_hour > "14" %>/>
            <div class="control__indicator" <% if current_hour > "14" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">7-8 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/07PM-08PM"%> <%="disabled" if current_hour > "17" %>/>
            <div class="control__indicator" <% if current_hour > "17" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">11-12 AM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/11AM-12AM"%> <%="disabled" if current_hour > "09" %>/>
            <div class="control__indicator" <% if current_hour > "09" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">2-3 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/02PM-03PM"%> <%="disabled" if current_hour > "12" %>/>
            <div class="control__indicator" <% if current_hour > "12" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">5-6 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/05PM-06PM"%> <%="disabled" if current_hour > "15" %>/>
            <div class="control__indicator" <% if current_hour > "15" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">8-9 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/08PM-09PM"%> <%="disabled" if current_hour > "18" %>/>
            <div class="control__indicator" <% if current_hour > "18" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">12-1 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/12AM-01PM"%> <%="disabled" if current_hour > "10" %>/>
            <div class="control__indicator" <% if current_hour > "10" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">3-4 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/03PM-04PM"%> <%="disabled" if current_hour > "13" %>/>
            <div class="control__indicator" <% if current_hour > "13" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">6-7 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/06PM-07PM"%> <%="disabled" if current_hour > "16" %>/>
            <div class="control__indicator" <% if current_hour > "16" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
          <label class="control control--radio">9-10 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/09PM-10PM"%> <%="disabled" if current_hour > "19" %> />
            <div class="control__indicator" <% if current_hour > "19" %>
            style="background: #c9302c;" 
            <%end%>></div>
          </label>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">10-11 AM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/10AM-11AM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">1-2 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/01PM-02PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">4-5 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/04PM-05PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">7-8 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/07PM-08PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">11-12 AM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/11AM-12AM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">2-3 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/02PM-03PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">5-6 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/05PM-06PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">8-9 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/08PM-09PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">12-1 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/12AM-01PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">3-4 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/03PM-04PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">6-7 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/06PM-07PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">9-10 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/09PM-10PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">10-11 AM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/10AM-11AM"%> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">1-2 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/01PM-02PM"%> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">4-5 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/04PM-05PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">7-8 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/07PM-08PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">11-12 AM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/11AM-12AM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">2-3 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/02PM-03PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">5-6 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/05PM-06PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">8-9 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/08PM-09PM"%> />
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">12-1 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/12AM-01PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">3-4 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/03PM-04PM"%> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">6-7 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/06PM-07PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">9-10 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/09PM-10PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
