<label for="fullname">Pre Order Delivery Time :<%=current_hour%></label>
<div class="col-md-12 col-sm-1 col-xs-12">
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Today </a>
      </li>
      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Tommorow</a>
      </li>
      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Day after Tommorow</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">10-11 AM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/10-11AM"%> <%="disabled" if current_hour > "08" %> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">1-2 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/1-2PM"%> <%="disabled" if current_hour > "11" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">4-5 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/4-5PM"%> <%="disabled" if current_hour > "14" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">7-8 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/7-8PM"%> <%="disabled" if current_hour > "18" %>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">11-12 AM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/11-12AM"%> <%="disabled" if current_hour > "09" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">2-3 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/2-3PM"%> <%="disabled" if current_hour > "12" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">5-6 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/5-6PM"%> <%="disabled" if current_hour > "15" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">8-9 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/8-9PM"%> <%="disabled" if current_hour > "19" %>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">12-1 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/12-1PM"%> <%="disabled" if current_hour > "10" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">3-4 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/3-4"%> <%="disabled" if current_hour > "13" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">6-7 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/6-7PM"%> <%="disabled" if current_hour > "16" %>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">9-10 PM
            <input type="radio" name="delivery_time" value=<%="#{today_date}/9-10PM"%> <%="disabled" if current_hour > "20" %> />
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">10-11 AM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/10-11AM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">1-2 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/1-2PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">4-5 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/4-5PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">7-8 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/7-8PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">11-12 AM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/11-12AM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">2-3 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/2-3PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">5-6 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/5-6PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">8-9 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/8-9PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">12-1 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/12-1PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">3-4 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/3-4PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">6-7 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/6-7PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">9-10 PM
            <input type="radio" name="delivery_time" value=<%="#{tommorow_date}/9-10PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">10-11 AM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/10-11AM"%> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">1-2 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/1-2PM"%> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">4-5 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/4-5PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">7-8 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/7-8PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">11-12 AM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/11-12AM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">2-3 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/2-3PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">5-6 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/5-6PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">8-9 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/8-9PM"%> />
            <div class="control__indicator"></div>
          </label>
        </div>
        <div class="col-md-4 col-sm-1 col-xs-4">
          <label class="control control--radio">12-1 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/12-1PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">3-4 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/3-4PM"%> />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">6-7 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/6-7PM"%>/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">9-10 PM
            <input type="radio" name="delivery_time" value=<%="#{day_after_tommorow}/9-10PM"%>/>
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>