<div class="x_panel">
<p id="notice"><%= notice %></p>

<center>
 <%= link_to "<i class='fa fa-arrow-left fa-3x'></i>".html_safe , cart_path, data: { turbolinks: false },:class=> "pull-left"%>
          
  <h3>CUSTOMER PHONE</h3></center>
  <br>
  
  <div class="x_content">
    <%= form_for(@customer, url: new_new_order_path) do |f| %>
    <!-- start form for validation -->
    <form id="demo-form" data-parsley-validate>
      <label for="fullname">Customer Phone No :</label>
      <%= f.number_field :phone, autofocus: true ,:class=> "form-control", data: { turbolinks: false } ,:required=>"required", :type=>"tel", :pattern=>"^[2-9]{2}[0-9]{8}$", :placeholder=>"ENTER 10 DIGIT CUSTOMER'S MOBILE NUMBER"%>
     


     <br>
     <%= f.submit "NEXT",:class=>"btn btn-success btn-block submit btn-lg" %>
          

    </form>
    <% end %>
    <!-- end form for validations -->

  </div>
</div>