<p id="notice"><%= notice %></p>





<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
     
          <div class="x_content">
            <h1 class="pull-left">Orders</h1>
          
                              <% if @shop_open %>
         
          <%= link_to "Close", shop_open_path, :method => :post, :class=>"addtocart btn btn-success", remote: true, :style=>"margin-top:15px;margin-left:20px;", data: { toggle_text: 'Open', toggle_href: shop_open_path ,id: current_user.id } %>
          <%else%>
          <%= link_to "Open", shop_open_path, :method => :post, :class=>"addtocart btn btn-danger", remote: true, :style=>"margin-top:15px;margin-left:20px;", data: { toggle_text: 'Close', toggle_href: shop_open_path , id: current_user.id }  %>
          <% end %>

          <% if @stat.sms_accept %>
         
          <%= link_to "Automatic Accept", sms_accept_path, :method => :post, :class=>"addtocart btn btn-success", remote: true, :style=>"margin-top:15px;margin-left:20px;", data: { toggle_text: 'Manual Accept', toggle_href: shop_open_path ,id: "sms#{current_user.id}" } %>
          <%else%>
          <%= link_to "Manual Accept", sms_accept_path, :method => :post, :class=>"addtocart btn btn-danger", remote: true, :style=>"margin-top:15px;margin-left:20px;", data: { toggle_text: 'Automatic Accept', toggle_href: sms_accept_path , id: "sms#{current_user.id}" }  %>
          <% end %>
        <% if admin %>
            <div class="pull-right form-inline">
            <%= form_for(@stat, url: update_discount_path) do |f| %>
            <!-- start form for validation -->
            <form id="demo-form" data-parsley-validate>
              <label for="fullname">Preorder Discount</label>
              <%= f.text_field :discount, autofocus: true ,:value => @stat.discount ,:class=> "form-control", data: { turbolinks: false }%>
            
             


            
             <%= f.submit "Update",:class=>"btn btn-success submit", :style=>"margin-top:5px" %>


                  

            </form>
            <% end %>
         
        
            </div>
            <%end%>

            <%= render 'shared/order' %>
          </div>
        </div>
      </div>

  </div>
</div>
