



<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
     
          <div class="x_content">
          <center>
            <h3>CART</h3></center>
            <table id="table" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th >Name</th>
                  <th>Serving</th>
                  <th>Price</th>
                  <th>Action</th>
                  
                </tr>
              </thead>


              <tbody>
              <% @cart_recipes.each do |recipe| %>
                <tr>
                  <td class="text-uppercase"><%= recipe.name %></td>
                  <td><%= recipe.serving %></td>
                  <td><%= recipe.price %></td>
                  <td><%= link_to 'X', remove_cart_item_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } , :class=> "btn btn-danger", data: { turbolinks: false }%></td>
               
                </tr>
                 <% end %>
                <tr>
                   <td>
                   
                	Total
                	</td>
                	<td></td>
                	<td></td>
                	<td>
                  <h3>
                		Rs<%=current_user.recipes.map(&:price).inject(0, :+)%>
                	</h3></td>
                </tr>
               
                
              </tbody>
            </table>

          </div>
          <%= link_to 'CONFIRM', new_customer_path, :class=>"btn btn-success pull-right btn-block btn-lg", data: { turbolinks: false } %>
        </div>
      </div>
     
  </div>


