<p id="notice" style="margin-bottom: 0px;"><%= notice %></p>
<% unless current_user.admin %>
<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="padding:7px;">
     
          <div class="x_content">
          <center>
          <div class="hidden-xs" style="margin-bottom:5px;">
             <%= link_to "INDIAN", cusine_path("Indian"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 10px;
      margin-right: 10px;"%>
      <%= link_to "CHINESE", cusine_path("Chinese"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 10px;
      margin-right: 10px;"%>
      <%= link_to "CONTINENTAL", cusine_path("Continental"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 10px;
      margin-right: 10px;"%>
      <%= link_to "ITALIAN", cusine_path("Italian"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 10px;
      margin-right: 10px;"%>
      </div>
      <div class="visible-xs" style="margin-bottom:7px;">
        <%= link_to "INDIAN", cusine_path("Indian"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 10px;
      margin-right: 2px;"%>
      <%= link_to "CHINESE", cusine_path("Chinese"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 10px;
      margin-right: 2px;"%>
      <%= link_to "CONTINENTAL", cusine_path("Continental"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 10px;
      margin-right: 2px;"%>
      <%= link_to "ITALIAN", cusine_path("Italian"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 10px;
      margin-right: 2px;"%>
      </div>
      </center>
     
      
          
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Serving</th>
                  <th>Price</th>
                  <th>Action</th>
                  
                </tr>
              </thead>


              <tbody>
              <% @recipes.each do |recipe| %>
                <tr>
                  <td class="text-uppercase"><%= recipe.name %></td>
                  <td><%= recipe.serving %></td>
                  <td><%= recipe.price %></td>

                  <td><%= link_to 'ADD', add_to_cart_path(recipe), method: :put, :class=>"addtocart btn btn-success", remote: true, data: { toggle_href: add_to_cart_path(recipe, turbolinks: false), id: recipe.id } %></td>
               
                </tr>
                <% end %>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
</div>
<%else%>





<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
     
          <div class="x_content" id="myDiv">
          <center>
            <h1>Orders</h1>
            </center>
                  
            <%= render 'shared/ordered' %>
          
        </div>
      </div>

  </div>
</div>

<%end%>