
<% unless current_user.admin || current_user.admin == nil %>
<p id="notice" style="margin-bottom: 55px;"><%= notice %></p>
<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="padding:7px;">
     
          <div class="x_content">
        
     
   
      
          
            <table id="example" class="table table-bordered">
           
              <thead>
                <tr>
                  <th>RECIPE KIT ITEMS</th>
                  <th>SERVINGS</th>
                  <th>RATE</th>
                  <th>ADD ITEM</th>
                  
                </tr>
              </thead>


              <tbody>
              <% @recipes.each do |recipe| %>
                <tr>

                  <td class="text-uppercase"><%= recipe.name %> 
                  <% if recipe.non_veg %>
                  <a class="btn btn-danger pull-right" style="width: 19px;height: 19px;text-align: center;padding: 1px 0;font-size: 13px;line-height: 0.1;border-radius: 30px;margin-top: 15px;"></a>
                  <% else %>
                  <a class="btn btn-success pull-right" style="width: 19px;height: 19px;text-align: center;padding: 1px 0;font-size: 13px;line-height: 0.1;border-radius: 30px;margin-top: 15px;"></a>
                  <% end %>
                  </td>
                  <td ><span class="h4"><%= recipe.serving %> </span>Persons</td>
                  <td>RS.<span class="h4"><%= recipe.price %></span></td>

                  <td><%= link_to "<span class='h2'>+</span>".html_safe, add_to_cart_path(recipe), method: :put, :class=>"addtocart btn btn-danger", remote: true, data: { toggle_href: add_to_cart_path(recipe, turbolinks: false), id: recipe.id } %></td>
               
                </tr>
                <% end %>
                
              </tbody>
            </table>
            <script type="text/javascript">
              <script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
            </script>
          </div>
        </div>
      </div>

  </div>
</div>


<%else%>
<p id="notice" ><%= notice %></p>
<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
     
          <div class="x_content" id="myDiv">
          <center>
            <h1>Orders</h1>
            </center>
                  
            <%= render 'shared/ordered' %>
          
        </div>
      </div>

  </div>
</div>

<%end%>



