 <body class="login">
    <div>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form>
              <h1>Merchant Login</h1>
              <div>
              <%= f.text_field :merchant_pin, autofocus: true ,:class =>"form-control",:placeholder=>"Merchant ID"  %>
                
              </div>
              <div>
              <%= f.password_field :password, autocomplete: "off",:class =>"form-control",:placeholder=>"Merchant Pin" %>
                
              </div>
              <div>
              <%= f.submit "Log in",:class=>"btn btn-lg btn-success btn-block submit", :style => "margin-left:0px;" %>   
              </div> 
          
            <br><br>
             <div class="separator">
                <p class="change_link h3"><b> New Merchant? </b>
                <%= link_to "Apply" , new_merchant_information_path , class: 
                "btn btn-success btn-sm" , style: "margin-top: 0px;"%>
                  
                </p>

                
              </div>
            </form>
            <% end %>
          </section>
        </div>

       
      </div>
    </div>
  </body>
