<div class="top_nav navbar-fixed-top" style="margin-left: 0px;">
  <div class="nav_menu">
    <nav>      
    	<%= link_to root_path, :style=>"background-color:#ededed;", data: { turbolinks: false } do %>
      <img src="/images/GR-logo-new.png" width="50px" style="padding-top:5px;margin-left:5px;">
      <%end%>
      <ul class="nav navbar-nav navbar-right">
        <% unless merchant %>      
        <li>
        	<%= link_to 'Log Out'.html_safe, destroy_user_session_path,
                :method => :delete ,:class=>"user-profile dropdown-toggle"%>
        </li>
        <% end %>
        <% if admin || marketing %>
        <li>
          <%= link_to 'SMS' , sms_messages_path , data: { turbolinks: false },:class=>"user-profile dropdown-toggle" %>
        </li>
        <% end %>
        <% if admin || manager %>
        <li>
          <%= link_to 'ORDERS' , orders_path , data: { turbolinks: false },:class=>"user-profile dropdown-toggle" %>
        </li>
        <% end %>
        <% if admin || manager || data_entry%>
        <li>
          <%= link_to 'RECIPES' , recipes_path , data: { turbolinks: false },:class=>"user-profile dropdown-toggle" %>
        </li>
        <% end %>
        <% if admin || marketing %>
        <li>
          <%= link_to 'MERCHANTS' , merchants_path , data: { turbolinks: false },:class=>"user-profile dropdown-toggle" %>
        </li>
        <% end %> 
        <% if admin %>
        <li>
          <%= link_to 'MERCHANTS APPLICATIONS' , merchant_informations_path , data: { turbolinks: false },:class=>"user-profile dropdown-toggle" %>
        </li>
        <% end %>     
      </ul>

      <% if merchant %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:;"  class="btn-danger user-profile dropdown-toggle text-uppercase active" data-toggle="dropdown" aria-expanded="true" style="padding-top: 22px;padding-bottom: 9px;">
                <span class="h5" style="color:white;margin-right:5px;" >
                 <%= current_user.full_name%></span>
                  <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li>
                <a><i class="fa fa-phone pull-right"></i> 0129-414-6687
                </a>
              </li>
              <li>
                <%= link_to 'My Orders' , my_orders_path, data: { turbolinks: false } %>
              </li>    
              <li>
              <%= link_to  destroy_user_session_path,
                  :method => :delete, data: { turbolinks: false } do %>
                  
              <i class="fa fa-sign-out pull-right"></i> Log Out
              <%end%>
              </li>
            </ul>
          </li>
          <li role="presentation" class="dropdown" >
            <a class="nohover btn-success dropdown-toggle info-number", style="padding-bottom:9px;padding-top: 8px;" ><b>
           <span style="color:white;">Rs <span class="addtocart-count h1" data-id="<%= current_user.id %>"><%= current_user.wallet %></span> </b><i class="fa fa-money"></i></span>
            </a>
          </li>
          <li role="presentation" class="dropdown" >
            <%= link_to cart_path , :class=> "nohover btn-success dropdown-toggle info-number",:style=> "padding-bottom:9px;padding-top: 8px;" ,data: { turbolinks: false } do %><b>
            <span style="color:white;"> <span class="addtocart-count h1" data-id="<%= current_user.id %>"><%= current_user.cart_recipes.count %></span> ITEMS ADDED </b><i class="fa fa-shopping-cart"></i></span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
  <% if merchant %>
    <% if params[:action] == "home" && params[:controller] == "pages" %>
      <center>
        <div class="hidden-xs" style="margin-bottom:5px;background-color:#ededed;">
          <%= link_to "INDIAN", cusine_path("Indian"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 0px;margin-right: 10px;"%>
          <%= link_to "CHINESE", cusine_path("Chinese"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 0px;margin-right: 10px;"%>
         <%= link_to "ALL", cusine_path("All"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 0px;margin-right: 10px;"%>
          <%= link_to "CONTINENTAL", cusine_path("Continental"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 0px;
      margin-right: 10px;"%>
          <%= link_to "ITALIAN", cusine_path("Italian"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success', :style=> "margin-top: 0px;
      margin-right: 10px;"%>
        </div>
        <div class="visible-xs" style="margin-bottom:7px;background-color:#ededed;">
          <%= link_to "INDIAN", cusine_path("Indian"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 0px;margin-right: 0px;padding-left:8px;padding-right:8px;"%>
          <%= link_to "CHINESE", cusine_path("Chinese"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 0px;
      margin-right: 0px;"%>
      <%= link_to "ALL", cusine_path("All"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 0px;margin-right: 0px;padding-left:8px;padding-right:8px;"%>
          <%= link_to "CONTINENTAL", cusine_path("Continental"),method: :post, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 0px;
      margin-right: 0px;padding-left:8px;padding-right:8px;"%>
          <%= link_to "ITALIAN", cusine_path("Italian"),method: :post, data: { turbolinks: false,disable_with: 'Wait ...' }, class: 'btn btn-success btn-sm', :style=> "margin-top: 0px;
      margin-right: 0px;padding-left:8px;padding-right:8px;"%>
        </div>
      </center>
    <%end%>
  <%end%>  
</div>                        


                        
  