<!DOCTYPE html>
<html>
<head>
  <title>Grmerchant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
 <% if manager || operator || admin %>
  <% if params[:action] == "home" && params[:controller] == "pages"%>
  <meta http-equiv="refresh" content="30" >
  <%end%>
  <%end%>
  <%end%>
  <%= favicon_link_tag '/images/GR-logo-new.png' %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/custom.css" rel="stylesheet">
    <!-- iCheck -->
  


    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">


    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  
    

<!-- Latest compiled and minified JavaScript -->


</head>
<body class="nav-md" style="background-color:#dedede;">
<div class="container body" style="margin-top:60px;">
  <div class="main_container">
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <%end%>
    <%= yield %>
  </div>
</div>


    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
   
    <!-- NProgress -->
   
    <!-- Chart.js -->
 





    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


   

</body>
</html>
